@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');

*{
    margin: 0;
    padding: 0;
}

html{
    height: 100vh;
}

body{
    text-align: center;
    background-size: cover;
    background: linear-gradient(180deg, rgb(255, 255, 255) 12%, rgb(73, 236, 155) 68%);
    background-repeat: no-repeat;
}

h1{
    margin-top: 150px;
    font-family: 'Kdam Thmor Pro', sans-serif;
}

.square{
    cursor: pointer;
    width: 100px;
    height: 100px;
    background-color: #ffffff;
    border: 2px solid rgb(90, 86, 86);
    display: inline-block;
}

.o{
    position: relative;
}

.o::after{
    position: absolute;
    content: "\2705";
    font-size: 50px;
    line-height: 100px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.x{
    position: relative;
}

.x::after{
    position: absolute;
    content: "\274E";
    font-size: 50px;
    line-height: 100px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
































footer{
    width: 100%;
    padding: 20px;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
}

img{
    width: 60px;
    height: 60px;
    
}

a{
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
    text-decoration: none;
   
}
